AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
CLICKUP_API_TOKEN=
NOTION_TOKEN=
CONFLUENCE_BASE_URL=https://yourcompany.atlassian.net
CONFLUENCE_EMAIL=you@company.com
CONFLUENCE_TOKEN=
CONFLUENCE_SPACE_KEY=ENG
CONFLUENCE_PARENT_PAGE_ID=
